<div class="container" style="margin-top: 100px;">

    <form #formularioCalculo="ngForm" (ngSubmit)="CalcularInversion();">

        <mat-form-field class="example-full-width" appearance="fill" style="padding: 10px; height: auto;">
          <mat-label>Inversion Inicial</mat-label>
          <input matInput type="number" [(ngModel)]="inicial" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="padding: 10px;height: auto;">
          <mat-label>Aportación anual</mat-label>
          <input matInput type="number" [(ngModel)]="aportacion" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="padding: 10px;height: auto;">
          <mat-label>Incremento anual</mat-label>
          <input matInput type="number" [(ngModel)]="porcentaje" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="padding: 10px;height: auto;">
          <mat-label>Años de inversión</mat-label>
          <input matInput type="number" [(ngModel)]="anosInversion" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="padding: 10px;height: auto;">
          <mat-label>Rendimiento</mat-label>
          <input matInput type="number" [(ngModel)]="rendimiento" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <button mat-raised-button color="primary" title="Calcular" type="submit">Calcular</button>
    </form>

    <table mat-table #myTable [dataSource]= "dataSource" class="mat-elevation-z8" style="width:100%; margin-top: 10pt;">
      <caption>Inversion</caption>

      <ng-container matColumnDef="anos">
        <th scope="col" mat-header-cell *matHeaderCellDef> Año </th>
        <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
      </ng-container>

      <ng-container matColumnDef="saldoInic">
        <th scope="col" mat-header-cell *matHeaderCellDef> Saldo Inicial </th>
        <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>

      <ng-container matColumnDef="aportacion2">
        <th scope="col" mat-header-cell *matHeaderCellDef> Aportacion </th>
        <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
      </ng-container>

      <ng-container matColumnDef="rendimiento2">
        <th scope="col" mat-header-cell *matHeaderCellDef> Rendimiento </th>
        <td mat-cell *matCellDef="let element" > {{element[3]}} </td>
      </ng-container>

      <ng-container matColumnDef="saldoFin">
        <th scope="col" mat-header-cell *matHeaderCellDef> Saldo Final </th>
        <td mat-cell *matCellDef="let element" > {{element[4]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
